
  <h1>Здравствуйте!</h1>
  <p>Начните работу в Вашем личном кабинете:</p>
<div class="row">
  <div class="col-md-3">
    <md-button class="md-raised md-primary hottyPrimaryButton" ng-click="openForm('news')">Новый проект</md-button>
  </div>
  <div class="col-md-3">
    <md-button class="md-raised md-primary hottyPrimaryButton" ng-click="openForm('solutions')">Мои проекты</md-button>
  </div>
  <div class="col-md-3">
    <md-button class="md-raised md-primary hottyPrimaryButton" ng-click="openForm('services')">Настройки</md-button>
  </div>
  <div class="col-md-3">
    <md-button class="md-raised md-primary hottyPrimaryButton" ng-click="openForm('services')">Обратная связь</md-button>
  </div>
</div>