
<div ng-cloak>
    <md-content style="overflow: auto;padding: 0px;">
        <md-tabs md-dynamic-height md-border-bottom>

            <md-tab ng-repeat="page in pages" on-finish-render="ngRepeatFinished">
                <md-tab-label>{{ page.pagePath }}&nbsp;<span ng-click="deletePage(page)" class="deletePage">&CircleTimes;</span></md-tab-label>
                <md-tab-body class="md-padding">
<div id="{{page.id}}" site="{{ page.siteId }}" pagepath="{{page.pagePath}}" pagetitle="{{page.pageTitle}}" style="overflow: auto;width: 100%;height: 100vh;" simple-block="{}" type="pageBody">
                    <div id="{{ block.id }}" style="{{ block.styles }}" child_level="0" class="{{ block.frontClasses }}" ng-repeat="block in page.blocks" simple-block="{{ block }}" special-data = "{{ block.specialData }}" type="{{ block.blockType }}"
                         scroll-content-style="{{ block.specialData.scrollContentStyle }}"
                         scroll-content-item-style="{{ block.specialData.scrollContentItemStyle }}"
                         ng-include="'categoryTree'">  </div>
</div>
                </md-tab-body>
            </md-tab>

        </md-tabs>
    </md-content>
</div>
