
<div class="container" style="margin-bottom: 30px;">
<h1>Выберите начальный шаблон</h1>
<p>Любой выбранный шаблон можно в дальнейшем изменить</p>
<div class="row">
    <div class="createTemplate col-md-4">
        <center><span id="topMenu" ng-click="createTemplate('topMenu')"></span></center>
    </div>
    <div class="createTemplate col-md-4" >
        <center><span id="leftMenu" ng-click="createTemplate('leftMenu')"></span></center>
    </div>
    <div class="createTemplate col-md-4">
        <center><span id="rightMenu" ng-click="createTemplate('rightMenu')"></span></center>
    </div>
</div>
<div class="row">
    <div class="createTemplate col-md-4">
        <center><span id="horizontalSlider" ng-click="createTemplate('horizontalSlider')"></span></center>
    </div>
    <div class="createTemplate col-md-4">
        <center><span id="verticalSlider" ng-click="createTemplate('verticalSlider')"></span></center>
    </div>
    <div class="createTemplate col-md-4" >
        <center><span id="emptyPages" ng-click="createTemplate('emptyPages')"></span></center>
    </div>
</div>
</div>